p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}


/* Colores para encabezados (Headers) */

// base-colors

$azul_jccm:   #002855 !default;
$azul_odd:    #64c9e1 !default;
$rojo_spain:  #820046 !default;
$gris_jccm:   #777779 !default;
$dorado:      #b49600 !default;


h1 {
  color: $dorado;
}

h2 {
  color: $azul_jccm;
}

h3 {
  color: $rojo_spain;
}


.red {
  color: #c41e3a;
}

.blue {
  color: #91c5ff;
}


/* Callout "note" personalizado */
.callout-note {
  border-left: 22px solid #002855;     /* borde azul oscuro */
  background-color: #91c5ff;           /* color de fondo del cuadro */
  color: #002855;                      /* texto del cuerpo en azul oscuro    color: #002855; */
  padding: 0.8em;
  border-radius: 6px;
}

/* Título del callout */
.callout-note .callout-title {
  font-weight: bold;
  color: #002855;                      /* título en azul oscuro */
  font-size: 1.2em;
  
}




.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #ab2a3e 5px center/3em no-repeat;
}


.infobox_resume {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #FAC0C0 5px center/3em no-repeat;
}




div.csl-entry {
  clear: both;
  margin-bottom: 10px;
}





